* {
    box-sizing:border-box;
}

body {
    background-color: rgb(220, 231, 245);
    font-family: 'Nunito Sans', sans-serif;
    align-content: center;
}

h1 {
    text-align: center;
}


.header img {
    position: relative;
    width: 20%;
    height: 20%;
    float: left;
    display: block;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.header div {
    position: relative;
    float: left;
    text-align: center;
    margin-top: 5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}

.step1 {
    height: 60px;
    width: 60px;
    margin: 0 40px;
    background-color: #5f9ef0;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 3.5%;
    transform: translateY(-15%);
}

.step {
    height: 25px;
    width: 25px;
    margin: 0 45px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

a {
    margin-top: 5%;
    margin-left: 2.5%;
    margin-bottom: 5%;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 24px;
  }
  
h6:hover {
    color: darkblue;
    transition: 0.5s;
    text-decoration: underline;
}

a:hover {
    background-color: rgb(211, 33, 33);
    color: black;
    transition: 0.5s;
  }
  
.previous {
    background-color: #f1f1f1;
    color: black;
  }
  
.next {
    background-color: rgb(78, 166, 238);
    color: white;
  }
  
.round {
    border-radius: 50%;
}

.infoForm {
    float: left;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
    background:rgb(223, 223, 223);
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    min-width: 300px;
    max-width: 80%;
    width: 80%;
}

input[type= input] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type= email] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type= password] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=input]:focus {
    z-index: 1;
    border: 3px solid lightskyblue;
    outline: none;
    transition: 1s;
}

input[type=email]:focus {
    z-index: 1;
    border: 3px solid lightskyblue;
    outline: none;
    transition: 1s;
}

input[type=password]:focus {
    z-index: 1;
    border: 3px solid lightskyblue;
    outline: none;
    transition: 1s;
}

input.invalid {
    background-color: #ffdddd;
  }

  @media only screen and (max-width: 768px) {
    h1 {
        font-size:20px;
    }
    h4 {
        font-size: 20px;
        z-index: 1;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h5 {
        font-size: 10px;
    }

    h3 {
        font-size: 10px;
    }

    input[type=button] {
        z-index: 1;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        background-color: #E64E4E;
        color: white;
        padding: 2%;
        margin: 15px auto;
        border: none;
        border-radius: 15px;
        cursor: pointer;
      }
    
    input[type=submit] {
        z-index: 1;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        background-color: #E64E4E;
        color: white;
        padding: 2%;
        margin: 15px auto;
        border: none;
        border-radius: 15px;
        cursor: pointer;
      }
    
      input[id=loginButton] {
        z-index: 1;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        background-color: lightsteelblue;
        color: white;
        padding: 2%; 
        margin-top: 10px;
        margin-bottom: 5px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
      }
    
      input[id=signupButton] {
        z-index: 1;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        background-color: lightsteelblue;
        color: white;
        padding-top: 2%; 
        padding-bottom: 2%;
        margin-top: 10px;
        margin-bottom: 5px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
      }

      .image {
        margin-top: 100%;
        display: block;
        width: 450px;
        height: auto;
        border-radius: 10%;
        max-width: 100%;
        background-size: cover;
      }

      .step1 {
        height: 50px;
        width: 50px;
        margin-right: 20px;
        background-color: #5f9ef0;
        border: none;  
        border-radius: 50%;
        display: inline-block;
        color: white;
        text-align: center;
        padding-top: 3.5%;
        transform: translateY(-15%);
    }
    
    .step {
        height: 25px;
        width: 25px;
        margin-right: 30px;
        background-color: #bbbbbb;
        border: none;  
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .header img {
            display: block;
            width: 40%;
            height: auto;
            border-radius: 10%;
            margin-left:30%;
            margin-right:auto;
            margin-bottom:1%;
            margin-top:5%;
        }
}